In [1]:
L = [4,6,8,9]

In [2]:
print(len(L))

4

In [4]:
L.append(11)
L

[4, 6, 8, 9, 11]

In [5]:
L + [13,17,20]

[4, 6, 8, 9, 11, 13, 17, 20]

In [6]:
L.sort
L

[4, 6, 8, 9, 11]

In [7]:
L = [1,"two",3.24,[0, 3,5]]
L

[1, 'two', 3.24, [0, 3, 5]]

In [8]:
L = [4,6,8,9,11]

In [18]:
print(L[0])

4

In [19]:
print(L[3])

9

In [17]:
print(L[-1])

11

In [20]:
print(L[4])

11

In [21]:
print(L[:3])

[4, 6, 8]

In [22]:
print(L[-2:])

[9, 11]

In [23]:
L[::2]

[4, 8, 11]

In [24]:
L[0] = 50

In [25]:
T = "4", "9", "10"

In [28]:
print(T)

('4', '9', '10')

In [29]:
len(T)

3

In [30]:
print(T[0])

4

In [42]:
T2 = ("5",)
T3 = T + T2
print(T3)

('4', '9', '10', '5')

In [64]:
list_A = set([1,1,2,5,5,5,8,8,9])

list_B = set([1,2,2,3,3,3,6,10])

In [65]:
print(list_A)
print(list_B)

{1, 2, 5, 8, 9}
{1, 2, 3, 6, 10}

In [66]:
list_A.union(list_B)

{1, 2, 3, 5, 6, 8, 9, 10}

In [67]:
list_A.intersection(list_B)

{1, 2}

In [69]:
list_A - list_B

{5, 8, 9}

In [79]:
number = {"one": 1,"four": 4,"five": 5,"three": 3,"two": 2,"seven": 7,"eight": 8,"nine": 9,"ten": 10,"six": 6}

In [95]:
print(number[2])

KeyError: 2

In [84]:
num_keys = len(number)
print(number)

{'one': 1, 'four': 4, 'five': 5, 'three': 3, 'two': 2, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'six': 6}

In [86]:
contains_eleven = 'eleven' in number
print(contains_eleven)

False

In [83]:
number['nine']

9

In [87]:
number['eleven']=11
print(number)

{'one': 1, 'four': 4, 'five': 5, 'three': 3, 'two': 2, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'six': 6, 'eleven': 11}

In [89]:
sorted_keys = sorted(number.keys())
print(sorted_keys)

['eight', 'eleven', 'five', 'four', 'nine', 'one', 'seven', 'six', 'ten', 'three', 'two']

In [90]:
print(sorted_keys[0])

eight

In [91]:
print(sorted_keys[-1])

two

In [92]:
sorted_value = sorted(number.values())
print(sorted_value )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [93]:
print(sorted_value[0])

1

In [94]:
number['nine']

9